name: Release automation

permissions:
  contents: write
  pull-requests: write

on:
  workflow_dispatch:
    inputs:
      version_number:
        description: 'Release Version Number (Eg, v1.0.0)'
        required: true
      branch:
        description: 'Branch to release from'
        required: false
        default: 'main'

jobs:
  release:
    name: Create Release
    runs-on: ubuntu-latest
    steps:
      - name: Release
        uses: FreeRTOS/CI-CD-Github-Actions/release@main
        with:
          version_number: ${{ github.event.inputs.version_number }}
          branch: ${{ github.event.inputs.branch }}
          github_token: ${{ secrets.GITHUB_TOKEN }}
          repo_build_command: rm -rf ../build && cmake -S. -B ../build -DCMAKE_BUILD_TYPE=Release -G "Unix Makefiles" -DSTANDALONE_TEST_BUILD_UNIX=1 && make -C ../build all
          run_test_command: 'sudo apt-get install -y lcov && export CFLAGS="-Wall -Wextra -DNDEBUG" && rm -rf ../build && cmake -S test -B ../build -G "Unix Makefiles" -DCMAKE_BUILD_TYPE=Debug -DUNITTEST=1 -DSYSTEM_TESTS=0 -DCMAKE_C_FLAGS="${CFLAGS}" && make -C ../build all && ctest --test-dir ../build/ -E system --output-on-failure'
